<div class="profil-card">
    <div class="btn-back btn-text">
      <%= link_to :back do %>
        <i class="fa-solid fa-xmark"></i>
      <% end %>
    </div>
  <h1 class="headers"><%= @user.nickname %></h1>

    <%= link_to edit_user_registration_path, class: "no-style icon-edit-profile" do %>
      <i class="fa-solid fa-pencil"></i>
    <% end %>
  <div class="big-photo-user">
    <img src="<%= @user.photo.attached? ? cl_image_path(@user.photo.key) : "https://st3.depositphotos.com/1767687/17621/v/600/depositphotos_176214104-stock-illustration-default-avatar-profile-icon.jpg" %>" alt="<%= @user.nickname %>" class="avatar-annonce">
  </div>

  <p><%= @user.points %> points</p>

  <div class="ratings">
    <% unless @sum.nil? %>
      <% if @sum == 5 %>
        <i class="fa-solid fa-star" style="color: #A4B05D"></i><i class="fa-solid fa-star" style="color: #83966A"></i><i class="fa-solid fa-star" style="color: #6A9674"></i><i class="fa-solid fa-star" style="color: #6A9696"></i><i class="fa-solid fa-star" style="color: #5D92B0"></i>
      <% elsif @sum >= 4 %>
        <i class="fa-solid fa-star" style="color: #A4B05D"></i><i class="fa-solid fa-star" style="color: #83966A"></i><i class="fa-solid fa-star" style="color: #6A9674"></i><i class="fa-solid fa-star" style="color: #6A9696"></i><i class="fa-regular fa-star" style="color: #5D92B0"></i>
      <% elsif @sum >= 3 %>
        <i class="fa-solid fa-star" style="color: #A4B05D"></i><i class="fa-solid fa-star" style="color: #83966A"></i><i class="fa-solid fa-star" style="color: #6A9674"></i><i class="fa-regular fa-star" style="color: #6A9696"></i><i class="fa-regular fa-star" style="color: #5D92B0"></i>
      <% elsif @sum >= 2 %>
        <i class="fa-solid fa-star" style="color: #A4B05D"></i><i class="fa-solid fa-star" style="color: #83966A"></i><i class="fa-regular fa-star" style="color: #6A9674"></i><i class="fa-regular fa-star" style="color: #6A9696"></i><i class="fa-regular fa-star" style="color: #5D92B0"></i>
      <% elsif @sum >= 1 %>
        <i class="fa-solid fa-star" style="color: #A4B05D"></i><i class="fa-regular fa-star" style="color: $#83966A"></i><i class="fa-regular fa-star" style="color: #6A9674"></i><i class="fa-regular fa-star" style="color: #6A9696"></i><i class="fa-regular fa-star" style="color: #5D92B0"></i>
      <% elsif @sum >= 0 %>
        <i class="fa-regular fa-star" style="color: #A4B05D"></i><i class="fa-regular fa-star" style="color: #83966A"></i><i class="fa-regular fa-star" style="color: #6A9674"></i><i class="fa-regular fa-star" style="color: #6A9696"></i><i class="fa-regular fa-star" style="color: #5D92B0"></i>
      <% end %>
    <% end %>
  </div>

    <div class= "profil-content">
      <div class="first-row">
<p style="color: #979dac">
  <i class="fa-solid fa-cake-candles icon-user"></i>
  <% age_in_words = time_ago_in_words(@user.birthday, include_seconds: false) %>
  <%= age_in_words.gsub("plus de ", "") %>
</p>
        <p style="color: #979dac"><i class="fa-solid fa-user icon-user"></i><%= @user.genre %></p>
      </div>
      <div class="second-row">
        <p style="color: #979dac"><i class="fa-solid fa-location-pin icon-user"></i><%= @user.address %></p>
      </div>
    <div class="third-row">
      <span>
        <p style="color: #979dac"><i class="fa-regular fa-face-smile-beam icon-user"></i>
          <% @user.interests.each do |interest| %>
            <%= interest.name %>
            <% if interest != @user.interests.last %>, <% end %>
          <% end %>
        </p>
      </span>
    </div>
      <div class="profil-description">
      <p style="color: #979dac"><%= @user.description %></p>
      </div>
    </div>
    <div class="logout">
      <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class:'logout-text' do %>
        <i class="fa-solid fa-user-slash"></i> Se déconnecter
      <% end %>
    </div>
</div>
