<h1><%= @user.nickname %></h1>


<p><%= @user.points %>points</p>


<%= link_to 'edit', edit_user_registration_path %><i class="fa-solid fa-pencil"></i>

<p><%= @user.birthday %></p>
<p><%= @user.address %></p>
<p><%= @user.genre %></p>
<p><%= @user.points %></p>
<p><%= @user.description %></p>
<p><%= @user.interest %></p>
