<h2>S'inscrire</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, label: "Prénom" %>
    <%= f.input :last_name, label: "Nom" %>
    <%= f.input :nickname, label: "Pseudonyme" %>
    <%= f.input :address, label: "Adresse" %>
    <%= f.input :birthday, label: "Date de naissance" %>
    <%= f.input :description, label: "Description" %>
    <%= f.input :interest, label: "Centres d'intérêts", collection: ["Cuisine", "Sport", "Danse", "Voyage", "Art", "Cinéma", "Musique", "Animaux", "Technologie", "Méditation", "Jeux de société", "Jeux vidéo", "Nature", "Photographie", "Bricolage", "Lecture", "Mode", "Sciences", "Sorties", "Automobile", "Jardinage", "Services", "Randonnées", "Découvertes", "Séries", "Nourriture", "Autres"] %>
    <%# <%= f.input :type, label: "Type", collection: ["Organisateur", "Participant"] %>
    <%= f.input :photo, as: :file, label: "Photo de profil" %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                label: "Adresse mail",
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                label: "Mot de passe",
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                label: "Confirmation du mot de passe",
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "S'inscrire" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
