<div class="container chatroom" data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">

  <div class="chatroom-container-activity sticky-top">
  <div class="btn-back btn-text">
    <%= link_to message_reservation_path do %>
      <i class="fa-solid fa-xmark"></i>
    <% end %>
  </div>
    <h1><%= link_to @chatroom.name, activity_path(@chatroom.activity)  %></h1>
    <div class="chatroom-card-activity">
      <p><i class="fa-solid fa-calendar-days"></i> <%= @chatroom.activity.start_date.strftime("%d/%m/%Y à %lh%M") %></p>
      <%= link_to activity_chatroom_members_path(@chatroom, @chatroom.activity) do %>
      <i class="fa-solid fa-users"></i> <%= @chatroom.activity.current_participants %>
      <% end %>
    </div>
  </div>
  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
</div>

<div class="chatroom-form-message d-flex justify-content-center">
  <%= simple_form_for [@activity, @chatroom, @message], html: { class: "d-flex" } do |f| %>
    <%= f.input :content,
      input_html: { class: "chatroom-input" },
      label: false,
      placeholder: "Envoyer un message",
      wrapper_html: { class: "flex-grow-1" }
    %>
    <%= button_tag(type: "submit", class: "btn-chatroom", formaction: message_reservation_path) do %>
      <i class="fa-regular fa-paper-plane btn-tag-icon"></i>
    <% end %>
  <% end %>
</div>
