  <div class="container2">
    <ul class="footer-links justify-content-evenly">
      <li>
        <%= link_to controller: 'pages', action: 'home', class: "footer-link" do %>
          <i class="fa-solid fa-house"></i>
        <% end %>
      </li>
      <li>
        <%= link_to controller: 'activities', action: 'index', class: "footer-link" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      </li>
      <li>
        <%= link_to controller: 'activities', action: 'new', class: "footer-link" do %>
          <i class="fa-solid fa-plus"></i>
        <% end %>
      </li>
      <li>
        <%= link_to controller: 'profiles', action: 'show', class: 'footer-link' do %>
          <i class="fa-regular fa-user"></i>
        <% end %>
      </li>
      <li><%= link_to "", '#', class: "footer-link" %><i class="fa-regular fa-comments"></i></li>
    </ul>
  </div>
