<body class="active-page">

  <div class="home-annonce">
    <div class="home">
      <% if user_signed_in? %>
        <div class="home-user">
          <h3 class="nickname-home"><%= current_user.nickname %></h3>
          <div class="medium-photo-user">
            <img src="<%= current_user.photo.attached? ? cl_image_path(current_user.photo.key) : 'https://st3.depositphotos.com/1767687/17621/v/600/depositphotos_176214104-stock-illustration-default-avatar-profile-icon.jpg' %>" alt="<%= current_user.nickname %>" class="avatar-annonce">
          </div>
          <%# <br><br><br><br><p>L'application pour ne plus rien faire en Solo</p> %>
        </div>
    </div>
  </div>

<br><br><br><br><br><br><br><br><br><br><br><br><br>
  <p class="title-home">Rencontrez</p>
  <div class="home-meet"><div class="txt-notsolo"><br><p>Vivez une expérience unique avec de nouvelles personnes chaque jour.<br><br>
  Not Solo est une application de rencontres amicales, vous choisissez ou proposez une activité et c'est parti vous n'avez plus qu'à rejoindre vos nouveaux amis.
</p></div></div>

<br>
<div class="separator"></div>
<br>

<p class="title-home">Suggestions pour vous</p>
  <div class="slider-container">
          <!-- Slides -->
          <div id="scroll-pane">
            <% @activities.where.not(user: current_user).sample(15).each_with_index do |activity, index| %>
              <div class="scroll-pane <%= 'active' if index == 0 %>">
                <%= link_to activity_path(activity) do %>
                  <% if activity.photo.attached? %>
                    <%= image_tag url_for(activity.photo), alt: activity.title %>
                  <% else %>
                    <!-- Image par défaut si aucune photo n'est attachée à l'activité -->
                    <%= image_tag "https://images.unsplash.com/photo-1467139701929-18c0d27a7516?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80", alt: activity.title %>
                  <% end %>
                  <h2><%= activity.category %></h2>
                  <p><%= activity.title %></p>
                <% end %>
              </div>
            <% end %>
          </div>
  </div>

<br>
<div class="separator"></div>
<br>

<p class="title-home">Vos favoris</p>
  <div class="slider-container">
        <!-- Slides -->
        <div id="scroll-pane">
          <% @likes.each_with_index do |like, index| %>
            <div class="scroll-pane <%= 'active' if index == 0 %>">
              <%= link_to activity_path(like.activity) do %>
                <% if like.activity.photo.attached? %>
                  <%= image_tag url_for(like.activity.photo), alt: like.activity.title %>
                <% else %>
                  <!-- Image par défaut si aucune photo n'est attachée à l'activité -->
                  <%= image_tag "https://images.unsplash.com/photo-1467139701929-18c0d27a7516?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80", alt: like.activity.title %>
                <% end %>
                  <h2><%= like.activity.category %></h2>
                  <p><%= like.activity.title %></p>
              <% end %>
            </div>
          <% end %>
        </div>
    </div>
  <% else %>
    <div class="buttons-home d-flex flex-column">
      <button class="btn-sign"><%= link_to "Se connecter", new_user_session_path, class:"link-devise-home" %></button>
      <br>
      <button class="btn-sign"><%= link_to "Créer un compte", new_user_registration_path, class:"link-devise-home" %></button>
    </div>
  <% end %>
</div>
<br><br><br><br><br>
</body>
