<h1>Mes demandes de réservation</h1>

<% @requests.each do |request| %>
  <h2><%= link_to request.activity.title, activity_path(request.activity) %></h2>
  <p>Utilisateur : <%= request.user.nickname %></p>
  <p>Statut: <%= request.status %></p>

  <% if request.status == "pending" %>
    <%= link_to 'Accepter', accept_reservation_path(request), data: { turbo_method: :patch }, class: 'btn btn-success' %>
    <%= link_to 'Refuser', reject_reservation_path(request), data: { turbo_method: :patch }, class: 'btn btn-danger' %>
  <% end %>
<% end %>

<%= link_to "retour", message_reservation_path, class: "footer-link" %>
