
<div class="activities-container">
  <div class="wrap-search">
      <%= form_with url: activities_path, method: 'get', class: "d-flex" do |form| %>
        <%= form.text_field :query, class: "input-search", placeholder: "Activitée" %>
        <%= button_tag( :class => "search-button") do %>
        <i class="fa-solid fa-magnifying-glass search-icon" style="color: #6A9696;"></i>
        <% end %>
        <%# <%= form.text_field :city, class: "input-search", placeholder: "Choisir une ville" %>
      <% end %>
  </div>
  <div class="map-container">
    <div style="width: 100%; height: 100%; border-radius: 10px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-map-user-coordinates-value="<%= @user_coordinates.to_json %>">
    </div>
  </div>
</div>
      <% @activities.each do |activity| %>
        <div class="resum-annonce-card">
          <%= link_to activity_path(activity) do %>
            <% if activity.photo.attached? %>
              <%= image_tag url_for(activity.photo), alt: activity.title, class:'img-event-small' %>
            <% else %>
                    <!-- Image par défaut si aucune photo n'est attachée à l'activité -->
              <%= image_tag "https://images.unsplash.com/photo-1467139701929-18c0d27a7516?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80", alt: activity.title %>
            <% end %>
            <p><%= activity.title %></p>
          <% end %>
          <div class="first-row">
            <p><i class="fa-solid fa-calendar-days"></i><%= activity.start_date.strftime("%d/%m/%Y à %lh%M") %></p>
            <p><i class="fa-solid fa-users"></i><%= activity.max_participants %></p>
          </div>
        </div>
      <% end %>
