<h1><%= @activity.title %></h1>

<p>Organisé par: <%= @activity.user.nickname %></p>

<p>Catégorie: <%= @activity.category %></p>

<p>Description: <%= @activity.content %></p>

<p>Adresse: <%= @activity.address %></p>

<p>Date de début: <%= @activity.start_date %></p>

<p>Date de fin: <%= @activity.end_date %></p>

<p>Prix par personne: <%= @activity.price_person %></p>

<%= link_to 'Retour', cherche_path %>
