<!DOCTYPE html>
<html>
  <head>
    <%# <title>Not Solo - Une app pour que vous ne soyez plus Solo</title> %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= content_for?(:meta_title) ? yield(:meta_title) : DEFAULT_META["title"] %></title>
    <meta name="description" content="<%= content_for?(:meta_description) ? yield(:meta_description) : DEFAULT_META["description"] %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= content_for?(:meta_title) ? yield(:meta_title) : DEFAULT_META["title"] %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= content_for?(:meta_image) ? yield(:meta_image) : DEFAULT_META["image"] %>" />
    <meta property="og:description" content="<%= content_for?(:meta_description) ? yield(:meta_description) : DEFAULT_META["description"] %>" />
    <meta property="og:site_name" content="<%= content_for?(:meta_title) ? yield(:meta_title) : DEFAULT_META["title"] %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= content_for?(:meta_title) ? yield(:meta_title) : DEFAULT_META["title"] %>">
    <meta name="twitter:description" content="<%= content_for?(:meta_description) ? yield(:meta_description) : DEFAULT_META["description"] %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= content_for?(:meta_image) ? yield(:meta_image) : DEFAULT_META["image"] %>">


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <%= favicon_link_tag %>
  </head>

  <body>
    <%= render "shared/flashes" %>

    <%= yield %>

    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <footer class="mt-auto">
        <%= render "shared/footer" %>
      </footer>
    <% end %>
  </body>
</html>
